{% extends 'basebs.html' %}

{% block title %} Alarms History {% endblock %}

{% block header1 %}
  <h1>Alarms History</h1>
{% endblock %}

{% block content %}
    <script>// Ricarica la pagina ogni 5 secondi
        setTimeout(function () {
            location.reload(true);
        }, 5000); // 5000 millisecondi = 5 secondi
    </script>
    <style>
    #search_string {
      background-position: 10px 12px;
      background-repeat: no-repeat;
      width: 100%;
      font-size: 16px;
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      margin-bottom: 12px;
      border-radius: 10px; /* Aggiungi angoli arrotondati */
    }

    #fridge_list {
      margin-top: 40px; /* Aggiungi spazio tra la barra di ricerca e la tabella */
    }

    #fridge_list td {
      padding: 10px; /* Aggiungi padding alle celle della tabella */
    }

    #fridge_list td:last-child {
      text-align: right; /* Allinea a destra il bottone "View Statistics" */
    }

    #fridge_list tr:hover {
      background-color: #f2f2f2; /* Aggiungi effetto hover alle righe della tabella */
    }
    </style>
    <h1>Alarms History</h1>
    <br>

    {% if alarms|length == 0 %}
        <h2>No registered alarms found</h2>
    {% else %}
        <h4><b>Fridge n° {{ pk }}</b></h4>
        <table class="table table-borderless" id="fridge_list">
            <tbody>
            <thead>
                <tr>
                  <th>Timestamp</th>
                  <th>Door</th>
                  <th>Internal T</th>
                  <th>Internal H</th>
                  <th>External T</th>
                  <th>Power</th>
                </tr>
            </thead>
            {% for a in alarms %}
                    <tr>
                        <th>{{ a.timestamp }}</th>
                        <th>{{ a.door }}</th>
                        <th>{{ a.int_temp }}</th>
                        <th>{{ a.int_hum }}</th>
                        <th>{{ a.ext_temp }}</th>
                        <th>{{ a.power_consumption }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <br>
    <br>

{% endblock %}
