{% extends 'basebs.html' %}

{% block title %} Fridge List {% endblock %}

{% block header1 %}
  <h1>Fridge List</h1>
{% endblock %}

{% block content %}
    {% if object_list|length == 0 %}
        <h2>No registered fridge found</h2>
    {% else %}
        <h2> {{ view.title }}: {{ object_list.count }} </h2>
    {% endif %}
    <br>


    <table class="table table-borderless" id="fridge_list">
        <tbody>
            {% for l in object_list %}
                <tr>
                    <td>{{ l.serial_number }}</td>
                    <td><a href="{% url 'main:home' %}" class="btn btn-info" role="button">Select</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
